DB_URL=jdbc:sqlserver://localhost:1433;databaseName=product_manager;encrypt=true;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=YourStrong!Passw0rd
JWT_SECRET=cHJ1ZWJhLXRlY25pY2Etand0LXNlY3JldC1kZS0zMi1ieXRlcyE=
JWT_EXPIRATION=8h
